@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #475569;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
  width: 100%;
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Define a largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor da parte da barra de rolagem que é arrastável */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da parte arrastável quando o mouse está em cima */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Define a largura da barra de rolagem para o Firefox */
  scrollbar-color: #888 #f1f1f1; /* Define a cor da parte arrastável e do fundo */
}

.z-60 {
  position: absolute;
  margin-top: 40px;
  z-index: 9999; /* Certifique-se de que este valor seja maior que os outros */
}
